.dim{
    display: flex;
}
.dim-item{
    display: inline-flex;
}

label{
    font-weight: 500;
}

.list-group li.alert.alert-info{
    padding: 1%;
    font-size: 0.9em;
    font-weight: 500;
}

.card-body{
    min-height: 300px;
}